# Altium Designer
History/
__Previews/
Project Logs for*/
Project Logs for satlo_Project/
*.LOG
*.log
*.eco
*.tmp
*.bak

# Arduino IDE / build outputs
build/
bin/
*.hex
*.elf

# System files
.DS_Store
Thumbs.db
